@inherits LayoutComponentBase

<nav class="navbar d-flex align-items-center">
    <div class="logo"><NavLink class="nav-link" href="/" style="text-decoration: none;">GalaxyPets</NavLink></div>
    <ul class="d-flex align-items-center list-unstyled m-0 ml-auto" style="margin-left: auto;">
        <li class="dropdown nav-item">
            <a href="/petprofile" class="nav-link right-tab">Your Pet/Profile</a>
            <div class="dropdown-content">
                <a href="/petprofile" class="nav-link">My GalaxyPet</a>
                <a href="/closet" class="nav-link">Closet</a>
            </div>
        </li>
        <li class="dropdown nav-item">
            <a href="/clubs" class="nav-link right-tab">Community</a>
            <div class="dropdown-content">
                <a href="/clubs" class="nav-link">Clubs</a>
                <a href="/users/active" class="nav-link">Users</a>
            </div>
        </li>
        <li class="nav-item"><NavLink class="nav-link right-tab" href="/games">Games</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link right-tab" href="/shop">Shop</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link right-tab" href="/account/login">Login</NavLink></li>
        <li class="nav-item"><NavLink class="nav-link right-tab" href="/account/register">Register</NavLink></li>
    </ul>
</nav>

<div class="page-body">
    @Body
</div>
