<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Connect 4</title>
	
	<link rel="stylesheet" href="css/style.css">	
	
</head>


<body>
	

	<div class="container text-center" id="app">
        <div class="row justify-content-center">
            <div class="col-12">
                <h1>oooo!Connect 4!oooo</h1>
                <a href="https://parzibyte.me" target="_blank" class="btn btn-success mb-2 btn-lg"> <i
                        class="fa fa-hands-helping"></i></a>
                <div class="alert alert-info">
                    <strong>Current player: </strong> {{currentPlayer === PLAYER_1 ? 'You!' : 'Friend'}}
                    <br>
                    <img :src="cellImage(currentPlayer)" alt="" class="img-fluid" style="max-width: 70px;">
                </div>
            </div>
        </div>

  <div id="container">



	<table class="table table-bordered">
		<thead>
			<tr>
				<th v-for="i in COLUMNS">
					<button :disabled="!canPlay" @click="makeMove(i)" class="btn btn-warning">Make move
						here&nbsp;<i class="fa fa-arrow-down"></i></button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="row in board">
				<td v-for="cell in row">
					<img class="img-fluid img-player" :src="cellImage(cell)" alt="">
				</td>
			</tr>
		</tbody>
	</table>
	<!-- production version, optimized for size and speed -->
<script src="vue.js"></script>
<script src="sweetalert2.all.min.js"></script>
	<script src="script.js"></script>


  </div><!-- close "container" -->
  

</body>
	
</html> 