.article-container {
    display: flex;
    flex-direction: column;
}

.article {
    background-color: rgba(105, 105, 105, 0.45);;
    color: var(--blue);
    align-content: center;
    margin-bottom: 10px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    padding: 10px;
}

.article h2 {
    text-align: center;
}

.article img {
    width: 100%;
}

.planet-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: center;
}

.planet-grid img {
    max-width: 100%;
    height: auto;
}
